<html>
<head>
    <title>Example Mypage</title>
</head>
<body>
<p>
    {% if listening %}
    {% for score in listening %}
    	Date: {{ score.0 }}, Score: {{ score.1 }}
    {% endfor %}
    {% endif %}
</p>
<p>
    {% if reading %}
    {% for score in reading %}
        Date: {{ score.0 }}, Score: {{ score.1 }}
    {% endfor %}
    {% endif %}
</p>
<p>
    {% if voca %}
    {% for score in voca %}
        Date: {{ score.0 }}, Score: {{ score.1 }}
    {% endfor %}
    {% endif %}
</p>
<p>
    {% if error %}
	Error: {{ error }}
    {% endif %}
</p>
<p>
	{% if message_box %}
		<h3>Messages</h3>
		{% for message in message_box %}
			{{ message }}</br>
		{% endfor %}
	{% endif %}
</p>
</body>
</html>
