<html>
<head>
    <title>Example register page</title>
    <script src="https://smtpjs.com/smtp.js">
    </script>
    <script>

        function makeid()
        {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for( var i=0; i < 10; i++ )
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

        var key = makeid();

        function go(){
	    var email = document.getElementById('user_email').value;
            Email.send("parksjin01@naver.com",
                email,
                "This is your confirmation key",
                key,
                "smtp.naver.com",
                "parksjin01",
                "FXqy9k]Abj");
        }

        function check(){
            var user_key = document.getElementById('user_confirm').value;
	    var node1 = document.getElementById('user_pw');
            var node2 = document.getElementById('user_re_pw');
            if (key != user_key)
            {
                alert(key+'\n'+user_key);
                document.getElementById('user_confirm').textContent = '';
                alert('Your confirmation number is incorrect');
            }
	    else if(node1.value != node2.value)
	    {
		alert('Your two password is different');
	    }
            else
            {
                document.getElementById('myform').submit();
            }

        }

	function same(){
	    var node1 = document.getElementById('user_pw');
            var node2 = document.getElementById('user_re_pw');
            if (node1.value != node2.value){
                node2.style.backgroundColor="lightpink";
	    }
            else if(node1.value == node2.value){
                node2.style.backgroundColor="lightgreen";
	    }
            else{
                node2.style.backgroundColor="white";
	    }
	}

    </script>
</head>
<body>
<form method=POST action="" id="myform">
{% csrf_token %}
    <table>
        <tr><td>ID: </td><td><input type="text" width=20 name="user_id" id="user_id"></td></tr>
        <tr><td>PW: </td><td><input type="password" width=20 name="user_pw" id="user_pw"></td></tr>
	<tr><td>PW Again: </td><td><input type="password" width=20 id="user_re_pw" onkeyup="same()"></td></tr>
        <tr><td>E-mail: </td><td><input type="email" width=20 name="user_email" id="user_email"></td><td><input type=button onclick="go()" value="Confirm"/></td></tr>
        <tr><td>Confirm: </td><td><input type="text" width=20 id="user_confirm"></td></tr>
    </table>
    <button type="button" onclick="check()">Register</button>
</form>
</body>
</html>

