<html>
<head>
    <title>Example Show List</title>
    <script>
        function check(num){
            var num = num.split('!@#');
            var id = num[0];
            var num = Number(num[1]);
            var node = document.getElementById(id);
            if (num<500){
                node.appendChild(document.createTextNode('Easy'));
            } else if(num<1000){
                node.appendChild(document.createTextNode('Normal'));
            }else{
                node.appendChild(document.createTextNode('Hard'));
            }
        }
    </script>
</head>
<body>
{% if video %}
{% for v in video %}
<a href={{ v.0 }}>
    <div>
        <table>
            <tr><td rowspan="3"><img src={{ v.3 }}></td><td>{{ v.1 }}</td></tr>
            <tr><td>{{ v.2 }}</td></tr>
            <tr><td id={{ v.3 }}></td></tr>
	    <script>
		check({{ v.4|safe }});
	    </script>
        </table>
    </div>
</a>
{% endfor %}
{% endif %}
</body>
</html>
