<html>
<head>
    <title>Example Voca Test</title>
<style>
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>
</head>
<body>
{% if result %}
<p>
	<h1>당신의 단어시험점수는 {{ result }} 점입니다. </h1>
</p>
{% for word, answer, user in whole %}
        <div>
                <p> {{ word.0 }} 
		<button type=button class="tooltip">UP
		<span class="tooltiptext">If you press this button, word frequency will be higher</span>
		</button>
		<button type=button class="tooltip">DOWN
		<span class="tooltiptext">***Warning***</br>If you press this button this word will never appear</span>
		</button> </br>
		{% if answer == "1" and user == "1" %}
                <input type=radio value=1 checked="checked" name={{ word.0 }}>{{ word.1 }} </br>
		{% elif answer == "1" %}
		<input type=radio value=1 checked="checked" disabled="disabled" name={{ word.0 }}>{{ word.1 }} </br>
		{% else %}
		<input type=radio value=1 disabled="disabled"  name={{ word.0 }}>{{ word.1 }} </br>
		{% endif %}
		{% if answer == "2" and user == "2" %}
                <input type=radio value=2  checked="checked"  name={{ word.0 }}>{{ word.2 }} </br>
		{% elif answer == "2" %}
                <input type=radio value=1 checked="checked" disabled="disabled" name={{ word.0 }}>{{ word.1 }} </br>
		{% else %}
		<input type=radio value=2 disabled="disabled"   name={{ word.0 }}>{{ word.2 }} </br>
		{% endif %}
		{% if answer == "3" and user == "3" %}
                <input type=radio value=3  checked="checked" name={{ word.0 }}>{{ word.3 }} </br>
		{% elif answer == "3" %}
                <input type=radio value=1 checked="checked" disabled="disabled" name={{ word.0 }}>{{ word.1 }} </br>
		{% else %}
		<input type=radio value=3 disabled="disabled"    name={{ word.0 }}>{{ word.3 }} </br>
		{% endif %}
                {% if word.4 %}
		{% if answer == "4" and user == "4" %}
                <input type=radio value=4 checked="checked" name={{ word.0 }}>{{ word.4 }} </br>
		{% elif answer == "4" %}
                <input type=radio value=1 checked="checked" disabled="disabled" name={{ word.0 }}>{{ word.1 }} </br>
		{% else %}
		<input type=radio value=4 disabled="disabled"   name={{ word.0 }}>{{ word.4 }} </br>
		{% endif %}
                {% endif %}
                {% if word.5 %}
		{% if answer == "5" and user == "5" %}
                <input type=radio value=5 checked="checked" name={{ word.0 }}>{{ word.5 }} </p>
		{% elif answer == "5" %}
                <input type=radio value=1 checked="checked" disabled="disabled" name={{ word.0 }}>{{ word.1 }} </br>
		{% else %}
		<input type=radio value=5 disabled="disabled"   name={{ word.0 }}>{{ word.5 }} </p>
		{% endif %}
                {% endif %}
        </div>
{% endfor %}
{% endif %}
{% if test %}
<p>
	<h1>다음 단어의 뜻에 해당하는 버튼을 눌러주세요</h1>
</p>
<form method=POST action="">
{% csrf_token %}
{% for word in test %}
{{ forloop.counter }}
	<div>
		<p> {{ word.0 }} </br> 
		<input type=radio value=1 name={{ word.0 }}>{{ word.1 }} </br> 
		<input type=radio value=2 name={{ word.0 }}>{{ word.2 }} </br> 
		<input type=radio value=3 name={{ word.0 }}>{{ word.3 }} </br> 
		{% if word.4 %}
		<input type=radio value=4 name={{ word.0 }}>{{ word.4 }} </br>
		{% endif %}
		{% if word.5 %}
		<input type=radio value=5 name={{ word.0 }}>{{ word.5 }} </p>
		{% endif %}
	</div>
{% endfor %}
<button type=submit>채점!!!</button>
</form>
{% endif %}
</body>
</html>
