<html>
<head>
    <title>Test Page</title>
    <script>
	function logout(){
            document.cookie = "ic=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.cookie = "pc=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
	    document.cookie = "ec=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
	    alert("Logout complete");
        };
    </script>
</head>
<body>
<div id="menu">
    <a href="/video/">Video</a>
    <a href="/read/">Read</a>
</div>
<div>
    <form id="home_form" method="POST" action="">
	<div>
		<table>
			<tr><td><input type="text", id="search_key" name="search_key"></td><td><button type=submit>Search</button></td></tr>
		</table>
        <table>
            <tr>
                {% csrf_token %}
                {% if recommand is not None %}
                {% for recommandation in recommand %}
                {{ recommandation|safe }}
                {% endfor %}
                {% endif %}
            </tr>
        </table>
    </form>
</div>
<script>
    try{
        var is_login = document.cookie;
        if (is_login.includes("ic=") && is_login.includes("pc=") && is_login.includes("ec="))
        {
            var node1 = document.createElement('a');
	    var node2 = document.createElement('a');
	    var node3 = document.createElement('a');
            node1.onclick = logout;
	    node1.href = "/";
	    node2.href = "/change-id/";
	    node3.href = "/mypage/";
            node1.appendChild(document.createTextNode("Logout"));
	    node2.appendChild(document.createTextNode("Change ID/PW"));
	    node3.appendChild(document.createTextNode("Mypage"));
            document.getElementById("menu").appendChild(node1);
	    document.getElementById("menu").appendChild(node3);
	    document.getElementById("menu").appendChild(node2);
        }else
        {
            throw 1;
        }
    }catch(Exception){
        var node1 = document.createElement('a');
        var node2 = document.createElement('a');
        var upper_node = document.getElementById("menu");
        node1.href = "/login/";
        node2.href = "/register/";
        node1.appendChild(document.createTextNode("Login"));
        node2.appendChild(document.createTextNode("Register"));
        upper_node.appendChild(node1);
        upper_node.appendChild(node2);
    }
</script>
</body>
</html>

