{% extends 'base.html' %}
{% block content %}
<script>
        node1 = document.getElementById('home');
        node2 = document.getElementById('video');
        node3 = document.getElementById('read');
        node4 = document.getElementById('voca');
        node5 = document.getElementById('board');

        node1.className = "";
        node2.className = "";
        node3.className = "";
        node4.className = "";
        node5.className = "";
        node5.className += " active";

</script>
<div class="container">
    <div>
        <ul class="nav nav-pills">
            {% if category == "notice" %}
                <li role="presentation" class="active"><a href="/board?c=notice">공지사항</a></li>
            {% else %}
                <li role="presentation"><a href="/board?c=notice">공지사항</a></li>
            {% endif %}
            {% if category == "free" %}
                <li role="presentation" class="active"><a href="/board?c=free">자유게시판</a></li>
            {% else %}
                <li role="presentation"><a href="/board?c=free">자유게시판</a></li>
            {% endif %}
            {% if category == "qa" %}
                <li role="presentation" class="active"><a href="/board?c=qa">Q&A</a></li>
            {% else %}
                <li role="presentation"><a href="/board?c=qa">Q&A</a></li>
            {% endif %}
            {% if category == "2dev" %}
                <li role="presentation" class="active"><a href="/board?c=2dev">개발자에게</a></li>
            {% else %}
                <li role="presentation"><a href="/board?c=2dev">개발자에게</a></li>
            {% endif %}
        </ul>
    </div>
    {% if category == "notice"%}
        {% if user_id == "parksjin01" or user_id == "damotorie" %}
            <a href={{ write }} style="color: write; text-decoration: none"><span class="col-md-offset-10 btn btn-info">글쓰기</span></a>
        {% endif %}
    {% else %}
        <a href={{ write }} style="color: write; text-decoration: none"><span class="col-md-offset-10 btn btn-info">글쓰기</span></a>
    {% endif %}
    <br>
    <br>
    <div>
        <table class="table table-striped table-bordered">
            <tr><th class="col-md-8">제목</th><th class="col-md-2">날짜</th><th>글쓴이</th></tr>
            {% if memo %}
            {% for m in memo %}
                <tr>
                    {% if m.0 %}
                    <td><a href={{ m.3|safe }}>{{ m.0 }}</a></td>
                    {% endif %}
                    {% if m.1 %}
                        <td>{{ m.1 }}</td>
                    {% endif %}
                    {% if m.2 %}
                        <td>{{ m.2 }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}