<html>
<head>
    <title>Example Id Change</title>
    <script>

	function check(){
            var node1 = document.getElementById('user_pw');
            var node2 = document.getElementById('user_re_pw');
            if(node1.value != node2.value)
            {
                alert('Your two password is different');
            }
            else
            {
                document.getElementById('myform').submit();
            }

        }


	function same(){
            var node1 = document.getElementById('user_pw');
            var node2 = document.getElementById('user_re_pw');
            if (node1.value != node2.value){
                node2.style.backgroundColor="lightpink";
            }
            else if(node1.value == node2.value){
                node2.style.backgroundColor="lightgreen";
            }
            else{
                node2.style.backgroundColor="white";
            }
        }
    </script>
</head>
<body>
<form action="" method="post" id="myform">
{% csrf_token %}
    <table>
        <tr><td>ID: </td><td><input type="text" width="20" name="user_id" id="user_id"></td></tr>
        <tr><td>PW: </td><td><input type="password" width="20" name="user_pw" id="user_pw"></td></tr>
	<tr><td>PW Again: </td><td><input type="password" width="20" name="user_pw" id="user_re_pw" onkeyup="same()"></td></tr>
    </table>
    <button type="button" onclick="check()">Change</button>
</form>
</body>
</html>
