{% extends 'base.html' %}
{% block content %}
<div>
    <form id="home_form" method="POST" action="" class="form-horizontal">
	<div>
        <div class="col-sm-12">
            <div class="page-header">
                <h4>Searching</h4>
            </div>
            <div class="col-sm-offset-1 col-sm-10">
                <div class="input-group">
                    <input type="text", id="search_key" name="search_key" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button type=submit class="btn btn-default">Search</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="page-header">
                <h4>Recommanded video</h4>
            </div>
        <table>
            <tr>
                {% csrf_token %}
                {% if recommand is not None %}
                {% for recommandation in recommand %}
                {{ recommandation|safe }}
                {% endfor %}
                {% endif %}
            </tr>
        </table>
        </div>
    </div>
    </form>
</div>
{% endblock %}