{% extends 'base.html' %}
{% block content %}
{% if error %}
	<script>
		alert("없는 아이디이거나 비밀번호입니다.");
	</script>
{% endif %}
<h1 class="page-header">로그인</h1>
<form method="POST" action="" class="form-horizontal">
	{% csrf_token %}
	<div class="form-group">
	<!--<table>-->
	<!--<tr><td>Id: </td><td><input type="text" width=20 name="user_id"></td></tr>-->
	<!--<tr><td>Password: </td><td><input type="password" width=20 name="user_pw"></td></tr>-->
	<!--</table>-->
	<!--<button type=submit>Login</button>-->
	<!--<button type=button><a href="/find-id/" style="text-decoration:none">Find ID/PW</a></button>-->
		<label class="col-sm-2 control-label">아이디</label>
		<div class="col-sm-3">
			<input type="text" name="user_id" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">비밀번호</label>
		<div class="col-sm-3">
			<input type="password" name="user_pw" class="form-control">
		</div>
	</div>
	<div class="form-group" style="padding-top: 5%; padding-bottom: 17%">
		<div class="col-sm-offset-6 col-sm-offset-10">
		<button type="submit" class="btn btn-info col-sm-offset-4 col-sm-2">로그인</button>
			<a href="/find-id"><button type="button" class="btn btn-info col-xs-offset-1 col-sm-2">ID/PW 찾기</button></a>
		</div>
	</div>
	</form>
{% endblock %}