{% extends 'base.html' %}
{% block content %}
<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="/mypage/">홈</a></li>
        <li role="presentation"><a href="/mypage/listening/">듣기</a></li>
        <li role="presentation"><a href="/mypage/reading/">읽기</a></li>
        <li role="presentation"><a href="/mypage/vocabulary/">단어</a></li>
        <li role="presentation" class="active"><a href="/mypage/message">메시지</a></li>
        <li role="presentation"><a href="/mypage/board">게시판</a></li>
    </ul>
</div>
<div class="col-md-10">
<div>
	{% if message_box %}
    <h1 class="page-header">메시지</h1>
		{% for message in message_box %}
<!--<p><span>{{ message.0|safe }}</span><span>{{ message.1|safe }}</span><span>{{ message.2|safe }}</span></br>-->
    {% if message.2 == 1 %}
    <div class="panel panel-info">
        <div class="panel-heading">New</div>
        <div class="panel-body">
            {{ message.1|safe }}
            <small>{{ message.0|safe }}</small>
        </div>
    </div>
    {% endif %}
    {% if message.2 == 0 %}
    <div class="panel">
        <div class="panel-body">
            {{ message.1|safe }}
            <small>{{ message.0|safe }}</small>
        </div>
    </div>
    {% endif %}
		{% endfor %}
	{% endif %}
</div>
</div>
{% endblock %}