{% extends 'base.html' %}
{% block content %}
<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="/mypage/">Home</a></li>
        <li role="presentation"><a href="/mypage/listening/">Listening</a></li>
        <li role="presentation"><a href="/mypage/reading/">Reading</a></li>
        <li role="presentation"><a href="/mypage/vocabulary/">Vocabulary</a></li>
        <li role="presentation"><a href="/mypage/message">Message</a></li>
        <li role="presentation"><a href="/mypage/board">Board</a></li>
    </ul>
</div>
<div class="col-md-10">
<div>
    {% if listening %}
    <h1 class="page-header">Listening score</h1>
    <table class="table table-hover">
        <thead>
        <tr class="info">
            <th class="col-sm-3">날짜</th><th class="col-sm-3">점수</th>
        </tr>
        </thead>
        <tbody>
    {% for score in listening %}
        <tr><td class="col-sm-1">{{ score.0 }}</td><td class="col-sm-3">{{ score.1 }}</td></tr>
    {% endfor %}
        </tbody>
        </table>
    {% endif %}
</div>
<div>
    {% if reading %}
    <h1 class="page-header">Reading score</h1>
    <table class="table table-hover">
        <thead>
        <tr class="info">
            <th class="col-sm-3">날짜</th><th class="col-sm-3">점수</th>
        </tr>
        </thead>
        <tbody>
    {% for score in reading %}
        <tr><td class="col-sm-1">{{ score.0 }}</td><td class="col-sm-3">{{ score.1 }}</td></tr>
    {% endfor %}
        </tbody>
        </table>
    {% endif %}
</div>
<div>
    {% if voca %}
    <h1 class="page-header">Vocabulary score</h1>
    <table class="table table-hover">
        <thead>
        <tr class="info">
            <th class="col-sm-3">날짜</th><th class="col-sm-3">점수</th>
        </tr>
        </thead>
        <tbody>
    {% for score in voca %}
        <tr><td class="col-sm-1">{{ score.0 }}</td><td class="col-sm-3">{{ score.1 }}</td></tr>
    {% endfor %}
        </tbody>
        </table>
    {% endif %}
</div>
<div>
    {% if error %}
    <h1 class="page-header">Error message</h1>
    <div class="panel panel-danger">
    <div class="panel-heading">Error</div>
        <div class="panel-body">{{ error }}</div>
    </div>
    {% endif %}
</div>
<div>
	{% if message_box %}
    <h1 class="page-header">Messages<a href="mypage/message/" style="color: grey; font-size:13px;">    더보기</a></h1>
		{% for message in message_box %}
<!--<p><span>{{ message.0|safe }}</span><span>{{ message.1|safe }}</span><span>{{ message.2|safe }}</span></br>-->
    {% if message.2 == 1 %}
    <div class="panel panel-info">
        <div class="panel-heading">New</div>
        <div class="panel-body">
            {{ message.1|safe }}
            <small>{{ message.0|safe }}</small>
        </div>
    </div>
    {% endif %}
    {% if message.2 == 0 %}
    <div class="panel">
        <div class="panel-body">
            {{ message.1|safe }}
            <small>{{ message.0|safe }}</small>
        </div>
    </div>
    {% endif %}
		{% endfor %}
	{% endif %}
</div>
</div>
{% endblock %}