{% extends 'base.html' %}
{% block content %}
<script>
        function youtube(){
            window.location.href = window.location.href.split("&e=0")[0]+"&e=1";
        }
    </script>
<form action="" method="GET" id="myform">

	{% if db %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">사이트 DB에 있는 영상</h3>
            </div>
            <div class="panel-body">
	{% for d in db %}
	<a href={{ d.0 }} style="color:black">
		<!--<table>-->
		<!--<tr><td rowspan=2><img src={{ d.2 }} width=240 height=160/></td><td>{{ d.1 }}</td></tr>-->
		<!--</table>-->
        <div class="col-md-12 panel" style="border:none;">
            <div class="col-md-3">
                <img src="{{ d.2 }}" width="240" height="160">
            </div>
            <div class="col-md-8">
                <h4 class="page-header">{{ d.1 }}</h4>
            </div>
        </div>
	</a>
	{% endfor %}
        </div>
        </div>
	{% endif %}
    <div id="extansion" class="col-md-offset-10">
        <!--<h3 style="display: plain">This is all result in our DB, Do you want to search it at google?</h3>-->
        <button type="button" onclick="youtube()" class="btn btn-primary btn-lg">추가 검색</button>
    </div>
    {% if video %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">유튜브 검색 영상</h3>
        </div>
        <div class="panel-body">
    {% for v in video %}
    <a href={{ v.0 }} style="color:black">
    <div class="col-md-12 panel">
        <!--<table>-->
            <!--<tr><td rowspan=2><img src={{ v.3 }} width=240 height=160/></td><td>{{ v.1 }}</td></tr>-->
            <!--<tr><td>{{ v.2 }}</td></tr>-->
        <!--</table>-->
        <div class="col-md-3">
            <img src="{{ v.3 }}" width="240" height="160">
        </div>
        <div class="col-md-8">
            <h4 class="page-header">{{ v.1 }}</h4>
            {{ v.2 }}
        </div>
    </div>
    </a>
    {% endfor %}
    </div>
    </div>
    {% endif %}
    <script>
        if (window.location.href.includes('&e=1')){
            document.getElementById("myform").removeChild(document.getElementById("extansion"));
        }
    </script>
</form>
{% endblock %}
