{% extends 'base.html' %}
{% block content %}
<script>
	node1 = document.getElementById('home');
        node2 = document.getElementById('video');
        node3 = document.getElementById('read');
        node4 = document.getElementById('voca');

        node1.className = "";
        node2.className = "";
        node3.className = "";
        node4.className = "";

        node4.className += " active";

        var like = [];
        var dislike = [];

        function add_like(num){
            if (like.indexOf(num) < 0)
                like.push(num);
            var index = dislike.indexOf(num);
            if (index > -1)
                dislike.splice(index, 1);
            var node_like = document.getElementById('like_'+String(num));
            var node_dislike = document.getElementById('dislike_'+String(num));
            node_like.style.borderColor = "skyblue";
            node_dislike.style.borderColor = "white";

            var node = document.getElementById('like');
            node.value = like.toString();
            node = document.getElementById('dislike');
            node.value = dislike.toString()
        }

        function add_dislike(num){
            if (dislike.indexOf(num) < 0)
                dislike.push(num);
            var index = like.indexOf(num);
            if (index > -1)
                like.splice(index, 1);
            var node_dislike = document.getElementById('dislike_'+String(num));
            var node_like = document.getElementById('like_'+String(num));

            node_dislike.style.borderColor = "skyblue";
            node_like.style.borderColor = "white";

            var node = document.getElementById('dislike');
            node.value = dislike.toString();
            node = document.getElementById('like');
            node.value = like.toString();
        }

        function yeah(){
        alert('평가가 완료되었습니다.\n만약 비추천을 누르신 경우에는 마이페이지에서 다시 추가하실수 있습니다.\n이용해주셔서 감사합니다.\n');

        }


</script>
<style xmlns="http://www.w3.org/1999/html">
.updown {
    position: relative;
    display: inline-block;
    background-color:white;
}

.updown .updowntext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 12px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.updown:hover .updowntext {
    visibility: visible;
}
</style>
{% if result %}
<p>
	<h1 class="page-header">당신의 단어시험점수는 {{ result }} 점입니다. 	     <small><span class="glyphicon glyphicon-info-sign updown"><span class="updowntext"><div style="padding:10px;"><span class="glyphicon glyphicon-chevron-up"></span>은 추천 버튼으로 단어의
	등장빈도가 증가하고 <span class="glyphicon glyphicon-chevron-down"></span>은 비추천 버튼으로 단어가 아예 등장하지 않게 됩니다. <br></div></span></span></small></h1>
</p>
<form method="post" action="">
	{% csrf_token %}
    <input value="1" hidden name="method">
{% for word, answer, user in whole %}
        <div>
                <p> {{ word.0 }} 
		<button onclick='add_like("{{ word.0 }}")' type=button class="updown" style="border-color:white; border-style: solid; border-radius:6px" id="like_{{ word.0 }}"><span class="glyphicon glyphicon-chevron-up"></span>
		<span class="updowntext">추천</span>
		</button>
		<button onclick='add_dislike("{{ word.0 }}")' type=button class="updown" style="border-color:white; border-style: solid; border-radius:6px" id="dislike_{{ word.0 }}"><span class="glyphicon glyphicon-chevron-down"></span>
		<span class="updowntext">***Warning***</br>비추천</span>
		</button> </br>
					<label class="radio-inline">
					{% if user == "1" and answer == "1" %}
					<input type=radio value=1 checked="checked" name={{ word.0 }}>{{ word.1 }}<span class="label label-info">사용자 답</span><span class="label label-primary">정답</span> </br>
		{% elif user == "1" %}
                <input type=radio value=1 checked="checked" name={{ word.0 }}>{{ word.1 }}<span class="label label-info">사용자 답</span> </br>
		{% elif answer == "1" %}
		<input type=radio value=1 disabled="disabled" name={{ word.0 }}>{{ word.1 }}<span class="label label-primary">정답</span> </br>
		{% else %}
		<input type=radio value=1 disabled="disabled"  name={{ word.0 }}>{{ word.1 }} </br>
		{% endif %}
					</label>
					<label class="radio-inline">
					{% if user == "2" and answer == "2" %}
					<input type=radio value=2 checked="checked" name={{ word.0 }}>{{ word.2 }}<span class="label label-info">사용자 답</span><span class="label label-primary">정답</span> </br>
		{% elif user == "2" %}
                <input type=radio value=2  checked="checked"  name={{ word.0 }}>{{ word.2 }}<span class="label label-info">사용자 답</span> </br>
		{% elif answer == "2" %}
                <input type=radio value=2 disabled="disabled" name={{ word.0 }}>{{ word.2 }}<span class="label label-primary">정답</span> </br>
		{% else %}
		<input type=radio value=2 disabled="disabled"   name={{ word.0 }}>{{ word.2 }} </br>
		{% endif %}
						</label>
					<label class="radio-inline">
					{% if user == "3" and answer == "3" %}
					<input type=radio value=3 checked="checked" name={{ word.0 }}>{{ word.3 }}<span class="label label-info">사용자 답</span><span class="label label-primary">정답</span> </br>
		{% elif user == "3" %}
                <input type=radio value=3  checked="checked" name={{ word.0 }}>{{ word.3 }}<span class="label label-info">사용자 답</span> </br>
		{% elif answer == "3" %}
                <input type=radio value=3 disabled="disabled" name={{ word.0 }}>{{ word.3 }}<span class="label label-primary">정답</span> </br>
		{% else %}
		<input type=radio value=3 disabled="disabled"    name={{ word.0 }}>{{ word.3 }} </br>
		{% endif %}
						</label>
                {% if word.4 %}
					<label class="radio-inline">
					{% if user == "4" and answer == "4" %}
					<input type=radio value=4 checked="checked" name={{ word.0 }}>{{ word.4 }}<span class="label label-info">사용자 답</span><span class="label label-primary">정답</span> </br>
		{% elif user == "4" %}
                <input type=radio value=4 checked="checked" name={{ word.0 }}>{{ word.4 }}<span class="label label-info">사용자 답</span> </br>
		{% elif answer == "4" %}
                <input type=radio value=4 disabled="disabled" name={{ word.0 }}>{{ word.4 }}<span class="label label-primary">정답</span> </br>
		{% else %}
		<input type=radio value=4 disabled="disabled"   name={{ word.0 }}>{{ word.4 }} </br>
		{% endif %}
					</label>
                {% endif %}
                {% if word.5 %}
					<label class="radio-inline">
					{% if user == "5" and answer == "5" %}
					<input type=radio value=5 checked="checked" name={{ word.0 }}>{{ word.5 }}<span class="label label-info">사용자 답</span><span class="label label-primary">정답</span> </br>
		{% elif user == "5" %}
                <input type=radio value=5 checked="checked" name={{ word.0 }}>{{ word.5 }}<span class="label label-info">사용자 답</span> </p>
		{% elif answer == "5" %}
                <input type=radio value=5 disabled="disabled" name={{ word.0 }}>{{ word.5 }}<span class="label label-primary">정답</span> </br>
		{% else %}
		<input type=radio value=5 disabled="disabled"  name={{ word.0 }}>{{ word.5 }} </p>
			{% endif %}
		</label>
                {% endif %}
        </div>
{% endfor %}
	<input hidden name="like" id="like" value="">
	<input hidden name="dislike" id="dislike" value="">
	<div class="col-md-offset-8">
		<a href="/add/vocabulary" class="col-md-4"><button class="btn btn-info" type="button">단어추가</button></a>
		<button onclick="yeah()" type="submit" class="btn btn-info">평가하기!</button>
	</div>
</form>
{% endif %}
{% if test %}
<h1 class="page-header">다음 단어의 뜻에 해당하는 버튼을 눌러주세요     <small><span class="glyphicon glyphicon-info-sign updown"><span class="updowntext"><div style="padding:10px;">여기서는 단어시험을 볼수 있습니다.<br></div></span></span></small></h1>
<form method=POST action="">
    <input value="0" hidden name="method">
{% csrf_token %}
{% for word in test %}
{{ forloop.counter }}
	<div>
		{{ word.0 }}
		<div class="form-group">
			<label class="radio-inline">
				<input type=radio value=1 name={{ word.0 }}>{{ word.1 }}
			</label>
			<label class="radio-inline">
				<input type=radio value=2 name={{ word.0 }}>{{ word.2 }}
			</label>
			<label class="radio-inline">
				<input type=radio value=3 name={{ word.0 }}>{{ word.3 }}
			</label>
			{% if word.4 %}
			<label class="radio-inline">
				<input type=radio value=4 name={{ word.0 }}>{{ word.4 }}
			</label>
			{% endif %}
			{% if word.5 %}
			<label class="radio-inline">
			<input type=radio value=5 name={{ word.0 }}>{{ word.5 }}
			</label>
			{% endif %}
		</div>
	</div>
{% endfor %}
	<div class="col-md-offset-8">
		<a href="/add/vocabulary" class="col-md-4"><span class="btn btn-info">단어추가</span></a>
		<button type=submit class=" btn btn-info" onclick="">채점!!!</button>
	</div>
</form>
{% endif %}
{% endblock %}