{% extends 'base.html' %}
{% block content %}
<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="/mypage/">홈</a></li>
        <li role="presentation"><a href="/mypage/listening/">듣기</a></li>
        <li role="presentation"><a href="/mypage/reading/">읽기</a></li>
        <li role="presentation" class="active"><a href="/mypage/vocabulary/">단어</a></li>
        <li role="presentation"><a href="/mypage/message">메시지</a></li>
        <li role="presentation"><a href="/mypage/board">게시판</a></li>
    </ul>
</div>
<div class="col-md-10">
<div>
    {% if voca %}
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/mypage/vocabulary/">점수</a></li>
        <li role="presentation"><a href="/mypage/likedislike/">좋아요!/싫어요!</a></li>
    </ul>
    <h1 class="page-header">단어 점수</h1>
    <div class="jumbotron" id="score_graph">
        <!--<h1>Here is space for chart/graph</h1>-->
        <!--It will be add soon-->
    </div>
    <table class="table table-hover">
        <thead>
        <tr class="info">
            <th class="col-sm-3">날짜</th><th class="col-sm-3">점수</th>
        </tr>
        </thead>
        <tbody>
    {% for score in voca %}
        <tr><td class="col-sm-1">{{ score.0 }}</td><td class="col-sm-3">{{ score.1 }}</td></tr>
    {% endfor %}
        </tbody>
        </table>
    <style>

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

</style>
<!-- load the d3.js library -->
<script src="http://d3js.org/d3.v3.min.js"></script>

<script>

    // Set the dimensions of the canvas / graph
    var margin = {top: 30, right: 20, bottom: 30, left: 50},
        width = 760 - margin.left - margin.right,
        height = 360 - margin.top - margin.bottom;

    // Parse the date / time

    // Set the ranges
    var x = d3.scale.linear().range([0, width]);
    var y = d3.scale.linear().range([height, 0]);

    // Define the axes
    var xAxis = d3.svg.axis().scale(x)
        .orient("bottom").ticks(10);

    var yAxis = d3.svg.axis().scale(y)
        .orient("left").ticks(5);

    // Define the line
    var valueline = d3.svg.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.close); });

    // Adds the svg canvas
    var svg = d3.select("#score_graph")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    // Get the data
    d3.json("{% url "get_voca_score" %}", function(error, data) {
        data.forEach(function(d) {
            d.date = +d.date;
            d.close = +d.close;
        });

        // Scale the range of the data
        x.domain([0, 30]);
        y.domain([0, 100]);

        // Add the valueline path.
        svg.append("path")
            .attr("class", "line")
            .attr("d", valueline(data));

        // Add the X Axis
        var x_axis = svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        x_axis.append("text")
            .attr('text-anchor', 'end')
            .attr("y", 30)
            .attr("x", width/2+20)
            .text('최근 30개의 시험')

        // Add the Y Axis
        var y_axis = svg.append("g")
            .attr("class", "y axis")
            .call(yAxis);

        y_axis.append('text')
            .attr('text-anchor', 'end')
            .attr('y', -10)
            .text('점수')

    });

</script>
    {% endif %}
</div>
<div>
    {% if error %}
    <h1 class="page-header">에러 메시지</h1>
    <div class="panel panel-danger">
    <div class="panel-heading">에러</div>
        <div class="panel-body">{{ error }}</div>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}