{% extends 'base.html' %}
{% block content %}
<script>
    function selection(value)
    {
        var node = document.getElementById('return_value');
        node.value = value;
        var form = document.getElementById('char');
        form.submit();
    }
</script>
<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="/mypage/">홈</a></li>
        <li role="presentation"><a href="/mypage/listening/">듣기</a></li>
        <li role="presentation"><a href="/mypage/reading/">읽기</a></li>
        <li role="presentation" class="active"><a href="/mypage/vocabulary/">단어</a></li>
        <li role="presentation"><a href="/mypage/message">메시지</a></li>
        <li role="presentation"><a href="/mypage/board">게시판</a></li>
    </ul>
</div>
<div class="col-md-10">
<div>
    <form method="post" id="char">
        {% csrf_token %}
    {% if like and dislike %}
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/mypage/vocabulary/">점수</a></li>
        <li role="presentation" class="active"><a href="/mypage/likedislike/">좋아요!/싫어요!/사용자 추가단어</a></li>
    </ul>
    <div>
        <div class="col-md-2"><h3>좋아요!</h3></div>
        <div class="col-md-11">
            <div class="jumbotron">
                {% for word in like %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="row">
                    {% endif %}
                    <div class="col-md-4">
                        <span style="padding-right:30px; border-radius:3px">{{ word.0 }} {{ word.1 }} <button type="button" style="border-color:#eee; border-style:solid; background-color:inherit" onclick="selection('{{ word.0 }},{{ word.1 }}')"><span class="glyphicon glyphicon-remove"></span> </button> </span>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2"><h3>싫어요!</h3></div>
        <div class="col-md-11">
            <div class="jumbotron">
                {% for word in dislike %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="row">
                    {% endif %}
                    <div class="col-md-4">
                <span style="padding-right:30px; border-radius:3px">{{ word.0 }} {{ word.1 }} <button type="button" style="border-color:#eee; border-style:solid; background-color:inherit" onclick="selection('{{ word.0 }},{{ word.1 }}')"><span class="glyphicon glyphicon-remove"></span> </button> </span>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
        {% if word %}
        <div>
            <div class="col-md-2"><h3>추가 단어!</h3></div>
        <div class="col-md-11">
            <div class="jumbotron">
                {% for w in word %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="row">
                    {% endif %}
                    <div class="col-md-4">
                        <span style="padding-right:30px; border-radius:3px">{{ w.0 }} {{ w.1 }} <button type="button" style="border-color:#eee; border-style:solid; background-color:inherit" onclick="selection('{{ w.0 }},{{ w.1 }}')"><span class="glyphicon glyphicon-remove"></span> </button> </span>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
        {% endif %}
        <input hidden value="" id="return_value" name="select">
    </form>
</div>
</div>
<div class="col-md-offset-2">
    <div class="col-md-11">
    {% if error %}
    <h3 class="page-header">Error message</h3>
    <div class="panel panel-danger">
    <div class="panel-heading">Error</div>
        <div class="panel-body">{{ error }}</div>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}