{% extends 'base.html' %}
{% block content %}
<script>
    node1 = document.getElementById('home');
        node2 = document.getElementById('video');
        node3 = document.getElementById('read');
        node4 = document.getElementById('voca');
        node5 = document.getElementById('board');

        node1.className = "";
        node2.className = "";
        node3.className = "";
        node4.className = "";
        node5.className = "";
        node5.className += " active";

    function go(){
    var title_node = document.getElementById('title');
    var content_node = document.getElementById('content');
    var form_node = document.getElementById('form');
    if(title_node.value == "" )
        alert("제목을 입력하지 않으셨습니다.");
    else if(content_node.value == "")
        alert("본문을 입력하지 않으셨습니다.");
    else
        form_node.submit();
    }
</script>
{% if authority == "1" %}
<script>
    alert("권한이 없습니다.");
</script>
{% endif %}
<div class="container">
    <form id="form" method="post">
        {% csrf_token %}
        <h3 class="page-header">분류</h3>
        <div class="form-group col-md-2">
            <select name="category" class="form-control">
                {% if category == "notice" %}
                    <option value="notice" selected="selected">공지사항</option>
                {% endif %}
                {% if category == "free" %}
                    <option value="free" selected="selected">자유게시판</option>
                {% else %}
                    <option value="free">자유게시판</option>
                {% endif %}
                {% if category == "qa" %}
                    <option value="qa" selected="selected">Q&A</option>
                {% else %}
                    <option value="qa">Q&A</option>
                {% endif %}
                {% if category == "2dev" %}
                    <option value="2dev" selected="selected">개발자에게</option>
                {% else %}
                    <option value="2dev">개발자에게</option>
                {% endif %}
            </select>
        </div>
        <br>
        <br>
        <div class="form-group">
            <h3 class="page-header">제목</h3>
            <input type="text" placeholder="제목" class="form-control" name="title" id="title">
        </div>
        <div class="form-group">
            <h3 class="page-header">게시글</h3>
            <textarea rows="40" placeholder="게시글" class="form-control" name="content" id="content"></textarea>
        </div>
        <h3 class="page-header">게시글 공개</h3>
        <div>
            <span class="col-sm-2" >
                <input type="radio" name="hidden" value="F" style="font-size: 150%">공개
            </span>
            <span class="col-sm-2">
                <input type="radio" name="hidden" value="T" style="font-size: 150%">비공개
            </span>
        </div>
        <br>
        <br>
        <span class="btn btn-info col-md-offset-10" onclick="go()">작성</span>
    </form>
</div>
{% endblock %}